<!-- SCM Music Player http://scmplayer.net -->
<script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'skins/black/skin.css',
'volume':50,
'autoplay':false,
'shuffle':false,
'repeat':1,
'placement':'bottom',
'showplaylist':false,
'playlist':[
     {'title':'<%= @song.title %>', 'url':'<%= @song.youtube_url %>'},
    
]}">
 </script>
<!-- SCM Music Player script end -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Youtubeid:</strong>
  <%= @song.youtubeid %>
</p>

<p>
  <strong>Bloglink:</strong>
  <%= @song.bloglink %>
</p>

<p>
  <strong>Source:</strong>
  <%= @song.source %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

